<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>subjects</title>
</head>
<body>
<!--{{subjects|join:"&#45;&#45;"}}-->
<form method="post">
{% if subjects|length > 0 %}
    {% for i in subjects%}
        <input type="checkbox" value="{{i.subject}}" name="subject">{{i.subject}}</input>
        private:<input type="checkbox" name="check"><br>
    {%endfor%}<br><br>

{% endif %}
    <button type="submit">attempt</button>
    <form method="post" action="/addsub/">
        {% csrf_token %}
            <input type="submit">
    </form>
</form>
</body>
</html>