<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>users</title>
</head>
<body>
<!--{%for user in users%}-->
<!--{{user}}-->
<!--{%endfor%}-->
<form method="post">
<!--    {{users.errors}}-->
    <!--    {{users}}-->
    {% csrf_token %}
<!--    <p>Title:<input type="text" name="title"></p>-->
    {{form.as_p}}
<!--    <input type="submit" value="submit">-->
    <button type="reset">clear</button>
    <button type="submit" formaction="/quiz/disp/{{key}}/{{sub}}/{{title}}/">save&create new</button>
<br><br>
</form>
<form method='post' action="/quiz/">
        {% csrf_token %}
    <input type="submit" value="exit" name="but">
</form>

{{ques}}
</body>
</html>